/* ===== GOOGLE FONT (modern typography) ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* LAYOUT */
.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  position: fixed;
  padding: 20px;
}

.logo {
  color: #38bdf8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: #94a3b8;
  text-decoration: none;
}

.sidebar a:hover {
  color: #38bdf8;
}

/* CONTENT */
.content {
  margin-left: 240px;
  padding: 40px;
}

/* DASHBOARD CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #38bdf8;
}

.card h2 {
  font-size: 40px;
}

.card span {
  color: #94a3b8;
}

/* SECTIONS */
section {
  margin-bottom: 100px;
}

/* CARDS (Experience, Education, Certs) */
.exp-card, .edu-card, .cert-card {
  display: flex;
  gap: 20px;
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.exp-card img, .edu-card img, .cert-card img {
  width: 60px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
}